.employee-tab{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    border: 1px solid #d5d5d5;
    
}

.in-progress{
    font-size: 30px;
    font-family: serif;
    text-shadow: 0 0 black;
}