<!-- <div class="employee-tab">
    <div class="btn-box">
        <div class="btn">
          
        </div>
    </div>

    <div class="box">
        <div id="result"></div>
    </div>
</div> -->

<div class="employee-tab">
    <div class="plg-container"><div class="code-paly">Code Playground</div></div>
<!--start writing code here-->

<div class="parent">
    <div class="child1">No Position CSS</div>
    <div class="child2">Position Absolute</div>
</div>


<div class="task-list">
    <ol>
        <li>Directives, Pipes, Reactive Forms</li>
        <li>Angular Application Execution, Architecture, Dependencies, Supporting Files, Build</li>
        <li>Angular Unit Testing</li>
        <li>Array Methods, Problem Solving, Promise, Observable, Subject, Behavor Subjet</li>
        <li>Advance Javascript</li>
        <li>CSS: Positions, Flex-box, Grid, Responsiveness</li>
    </ol>
</div>


</div>
