<!-- <div class="employee-tab">
    <div class="btn-box">
        <div class="btn">
          
        </div>
    </div>

    <div class="box">
        <div id="result"></div>
    </div>
</div> -->

<div class="employee-tab">
    <div class="plg-container"><div class="code-paly">Code Playground</div></div>
<!--start writing code here-->

<div class="parent">
    <div class="child1">No Position CSS</div>
    <div class="child2">Position Absolute</div>
</div>


<div class="task-list">
    <ol>
        <li>Directives, Pipes, Reactive Forms</li>
        <li>Angular Application Execution, Architecture, Dependencies, Supporting Files, Build</li>
        <li>Angular Unit Testing</li>
        <li>Array Methods, Problem Solving, Promise, Observable, Subject, Behavor Subjet</li>
        <li>Advance Javascript</li>
        <li>CSS: Positions, Flex-box, Grid, Responsiveness</li>
    </ol>
</div>

<div>
    <div class="data-binding">Data Binding</div>
    <div>
        <strong>String Interpolation: </strong><span>{{inputValue}}</span>
    </div>

    <div>
        <strong>Two Way Data Binding</strong>
        <input 
        [(ngModel)]="inputValue"
        type="text" 
        value="sharique"
        #templateRefvar 
        (click)="getValue(templateRefvar)"><i>{{templateRefvar.value}}</i>
    </div>

    <div>
        <strong>Property Binding</strong><span [id]="templateRefvar.value" [innerHTML]="textFromModel"></span>
    </div>


    <div>
        <strong>Event Binding </strong>
        <button (click)="showAlertPopup()">Alert</button>
    </div>
</div>


</div>
