// :host { margin: 0; }
.tabs-comp-name{
  display: flex;
    justify-content: space-between;
    align-items: center;
    background: #5891a7;
    color: #fff;
    font-weight: bold;
}
  .active{
    background-color: #8b969d;
  }
  
  .tabs{
    display: flex;
    justify-content: flex-start;
  }
  .tab{
    padding: 10px;
    cursor: pointer;
  }

  .app-name{padding-right: 10px;}