<div class="outer">
  <div class="tabs-comp-name">
    <div class="tabs">
      <div routerLink="/admin" routerLinkActive="active" class="tab">Admin</div>
      <div routerLink="/employee" routerLinkActive="active" class="tab">Employee</div>
      <div routerLink="/assigned" routerLinkActive="active" class="tab">Tasks</div>
      <div routerLink="/unassigned" routerLinkActive="active" class="tab">Code Play</div>
      <div routerLink="/dashboard" routerLinkActive="active" class="tab">Dashboard</div>
      <div routerLink="/loader" routerLinkActive="active" class="tab">Forms</div>
      <div routerLink="/manger" routerLinkActive="active" class="tab">TMS Manger</div>
    </div>

    <div>
      <div class="app-name">Team Management System</div>
    </div>
  </div>


  <div class="component-skelaton">
    <router-outlet></router-outlet>
  </div>