// :host { margin: 0; }
.tabs-comp-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #5891a7;
    color: #fff;
    font-weight: 600;
}
  .active{
    background-color: #436b6c;
  }
  
  .tabs{
    display: flex;
    justify-content: flex-start;
  }
  .tab{
    padding: 10px;
    cursor: pointer;
  }

  .tab:hover{
    background-color: rgb(38, 38, 38);
  }

  .app-name{padding-right: 20px;}