<!-- The Modal -->
<div id="myModal" class="modal" *ngIf="showPopup">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <div class="emp-name-heading">{{currentEmployeeData?.name}}</div>
        <div class="btn-container">
            <div style="padding-right: 20px;"> <button class="update-btn" (click)="updateData()">Update</button> </div>
            <div class="close" (click)="actionBtn('cross')"> &times;</div>
        </div>
        </div>

        <div *ngIf="currentEmployeeData?.task?.length; else noDataFound" class="table-container">
            <table class="table">
                <tr>
                    <th>Task</th>
                    <th>Status</th>
                    <th>Todo</th>
                    <th>Estimation</th>
                </tr>

             
                    <ng-container *ngFor="let task of currentEmployeeData?.task">
                        <tr>
                            <td>{{task?.description}}</td>
                            <td>{{task?.currentStatus}}</td>
                            <td>{{task?.todo}}</td>
                            <td>{{task?.estimated}}</td>
                        </tr>
                    </ng-container>


                  
          
            </table>
        </div>

      
           
        <div class="modal-footer">
            <div class="f-btn-conatiner">
                <div class="cancel-btn-container"><button class="cancel" (click)="actionBtn('cancel')">Cancel</button></div>
                <div><button class="okay" (click)="actionBtn('okay')">Okay</button></div>
            </div>
        </div>
     
    </div>


    <ng-template #noDataFound>
        <div class="no-data-found" >
            <div class="no-data-found-text"><h2>No Data To Display.</h2></div>
        </div>
       </ng-template>

