.main-admin{
    border:1px solid #e7e5e5;
    // margin-top: 10px;
    // max-height: calc(100vh - 70px);
    // overflow-y: auto;
}
.table-container{
    max-height: calc(100vh - 220px);
    overflow-y: auto;
}

.create-container{
    min-height: 150px;
    border: 1px solid rgb(230, 230, 230);
    margin: 10px 0;;
}


.action-btns{
    display: flex;
    // padding-right: 5px;
}

.view{
    // padding-right: 10px
}

.gen-btn{
    outline: none;
    border: none;
    padding: 4px 8px;
    color: #fff;
    cursor: pointer;
    color: #367a95;
    background: none;
    font-size: 16px;
}

table{width: 100%;}

table{width: 100%;}
tr:nth-child(odd) {
    background-color: #eaeff3;
  }

th{
    background: #cee6ef;
    padding: 6px;
    text-align: left;
    background: #cee6ef;
    padding: 6px;
    text-align: left;
    color: #363636;
}

.text-img-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
