.main-admin{
    border:1px solid #e7e5e5;
    margin-top: 10px;
    min-height: 500px;
}
.admin-header{
    border: 1px solid #d5d5d5;
    display: flex;
    justify-content: space-between;
    background: #cee6ef;
    font-size: 18px;
    padding: 5px;
    color: #4a4a4a;
}

.name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100px;
}

.actionColumn{
    padding-right: 10px;
}

.emp-des{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px solid #dbdbdb;
}

.action-btns{
    display: flex;
    padding-right: 5px;
}

.view{
    padding-right: 10px
}

.gen-btn{
    background: #5891a7;
    outline: none;
    border: none;
    padding: 4px 8px;
    color: #fff;
    cursor: pointer;
}