<div class="main-admin" *ngIf="!showLoader; else spinner">

    <div class="create-container">
        <div class="create-box">
            <div class="create-employee-text">Employees</div>
            <div class="new-employee" (click)="showForm()">New Employee +</div>
        </div>
        <div *ngIf="displayForm" class="form-container">
            <div class="form">

                <div class="ip-box-container">
                    <div class="ip-box-div">
                        <div><label for="ip-box">SSO</label></div>
                        <div class="input-box"><input id="ip-box" type="text" class="input"></div>
                    </div>

                    <div class="ip-box-div">
                        <div><label for="ip-box">Name</label></div>
                        <div class="input-box"><input id="ip-box" type="text" class="input"></div>
                    </div>

                    <div class="ip-box-div">
                        <div><label for="ip-box">Email</label></div>
                        <div class="input-box"><input id="ip-box" type="text" class="input"></div>
                    </div>

                    <div class="ip-box-div">
                        <div><label for="ip-box">Group By</label></div>
                        <div class="input-box"><input id="ip-box" type="text" class="input"></div>
                    </div>
                    
                </div>

                
            </div>
        </div>
    </div>


    <div class="table-container" [ngClass]="{'formHeight': displayForm}">
        <table>
            <tr>
                <th>
                    <div class="text-img-container">
                        <div>Member</div>
                        <div>
                            <img 
                            class="img" 
                            src="./../../assets/sort-icon.png" 
                            alt="sort"
                            (click)="sortAZ('name')"
                            >
                        </div>
                    </div>
                </th>
                <th>Tasks</th>
                <th>Todo</th>
                <th>Estimation</th>
                <th>Action</th>
            </tr>
        
            <tr *ngFor="let emp of employeeNames">
                <td>{{emp?.name}}</td>
                <td>{{emp?.task?.length || 'No Task Assigned'}}</td>
                <td>0</td>
                <td>NA</td>
                <td><div class="action-btns">
                    <div class="view"><button class="gen-btn" (click)="viewEdit(emp,'view')">View</button></div>
                    <div class="edit"><button class="gen-btn" (click)="viewEdit(emp,'edit')">Edit</button></div>
                </div></td>
        
            </tr>
        </table>
    </div>
</div>

 <!--ng-templae for below container-->
 <ng-template #spinner>
    <app-tms-loader></app-tms-loader>
</ng-template>


<!--child component popup-->
<app-list-popup 
[showPopup]="showPopup" 
[currentEmployeeData]="currentEmployeeData"
(popupState)="popupState($event)"
>
</app-list-popup>

