.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,50%); /* Black w/ opacity */
  }

  .modal-header{
    display: flex;
    justify-content: space-between;
    background: #cee6ef;
    padding: 0px 10px;
    align-items: center;
    font-size: larger;
    font-weight: bold;
    align-items: center;
    font-size: larger;
    font-weight: bold;
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #5891a7;
    text-decoration: none;
    cursor: pointer;
  }

  .table-container{
    width: 95%;
    margin: auto;
    padding-top: 10px;
    max-height: 300px;
    overflow-y: auto;
  }
table{width: 100%;}
tr:nth-child(odd) {
    background-color: #f2f2f2;
  }
th{
    background: #e9edef;
    padding: 6px;
    text-align: left;
}
td{
    padding: 5px;
    text-align: left;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
  table, th, td {
    border: 1px solid #dce7dc;
    border-collapse: collapse;
  }

  .f-btn-conatiner{
    display: flex;
    justify-content: flex-end;
    padding: 10px 30px 10px 0;
  }
  .okay{
    background: #5891a7;
    outline: none;
    border: none;
    padding: 8px 10px;
    color: #fff;
    cursor: pointer;
  }
  .cancel-btn-container{
    padding-right: 20px;
  }
  .cancel{
    background: #fbf4f4;
    outline: none;
    border: 1px solid #e1e1e1;
    padding: 8px 10px;
    color: #3c3c3c;
    cursor: pointer;
  }

  